
<div class="container d-flex justify-content-center align-items-center" style="min-height:85vh; background-color:#ede8f5; border-radius:10px;">
  <div class="card shadow-lg border-0" style="width:500px; background-color:#adbbda; border-radius:15px;">
    <div class="card-header text-center text-white py-2" style="background-color:#3d52a0; border-top-left-radius:15px; border-top-right-radius:15px;">
      <h4 class="mb-0">Register</h4>
    </div>

    <div class="card-body p-3">
      <form (ngSubmit)="register()" #registerForm="ngForm">

        <div class="mb-2">
          <label class="form-label">Email</label>
          <input type="email" class="form-control rounded-3" placeholder="Email" [(ngModel)]="user.email" name="email" required />
        </div>

        <div class="mb-2">
          <label class="form-label">Password</label>
          <input type="password" class="form-control rounded-3" placeholder="Password" [(ngModel)]="user.password" name="password" required minlength="6"/>
        </div>

        <div class="row">
          <div class="col-md-6 mb-2">
            <label class="form-label">First Name</label>
            <input type="text" class="form-control rounded-3" placeholder="First Name" [(ngModel)]="user.firstName" name="firstName" required />
          </div>

          <div class="col-md-6 mb-2">
            <label class="form-label">Last Name</label>
            <input type="text" class="form-control rounded-3" placeholder="Last Name" [(ngModel)]="user.lastName" name="lastName" required />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-2">
            <label class="form-label">Location</label>
            <input type="text" class="form-control rounded-3" placeholder="Location" [(ngModel)]="user.location" name="location" required />
          </div>

          <div class="col-md-6 mb-2">
            <label class="form-label">Phone Number</label>
            <input type="text" class="form-control rounded-3" placeholder="Phone Number" [(ngModel)]="user.number" name="number" required pattern="^[0-9]{10}$"/>
          </div>
        </div>

        <button type="submit" class="btn w-100 text-white rounded-pill shadow-sm py-2 mt-2" style="background-color:#7091e6;" 
          [disabled]="registerForm.invalid">
          <i class="bi bi-person-check-fill me-2"></i>Register
        </button>

      </form>

      <p class="text-center mt-2 mb-0">Already registered?
        <a routerLink="/login" class="fw-bold" style="color:#3d52a0;">Login</a>
      </p>
    </div>
  </div>
</div>
