<div class="container py-5 d-flex justify-content-center align-items-center" style="min-height:80vh; background-color:#ede8f5; border-radius:10px;">
    <div class="card shadow-lg border-0 px-5 py-4 w-75" style="max-width: 1100px; border-radius:15px;"> 
      <!-- Made the card wider using w-75 and max-width: 1100px -->
  
      <div class="card-header text-center text-white py-3" style="background-color:#3d52a0; border-top-left-radius:15px; border-top-right-radius:15px;">
        <h3 class="mb-0">About Us</h3>
      </div>
  
      <div class="card-body">
        <p class="fs-5">
          Welcome to <strong>Inventory App</strong>, your trusted solution for seamless product management. You can see list of products, and once you are logged in, you can add products or edit htem or delete them.
        </p>
  
        <h5 class="mt-4"><i class="bi bi-check-circle-fill"></i> Our Goal</h5>
        <p>
          This project is built as a part of capstone project.
        </p>
  
        <h5 class="mt-4"><i class="bi bi-people-fill"></i> Our Team</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-transparent"><i class="bi bi-person-fill text-primary"></i> Saurav Bansode</li>
          <li class="list-group-item bg-transparent"><i class="bi bi-person-fill text-primary"></i> Abhijeet Kokare</li>
                <li class="list-group-item bg-transparent"><i class="bi bi-person-fill text-primary"></i> Pratik Walunj</li>
          <li class="list-group-item bg-transparent"><i class="bi bi-person-fill text-primary"></i> Vaibhav Konnur</li>
          <li class="list-group-item bg-transparent"><i class="bi bi-person-fill text-primary"></i> Pratik Shirsath</li>
        </ul>
  
        <div class="text-center mt-4">
          <a routerLink="/products" class="btn text-white rounded-pill shadow-sm py-2 px-4" style="background-color:#3d52a0;">
            <i class="bi bi-box-seam me-2"></i> View Products
          </a>
        </div>
      </div>
  
    </div>
  </div>
  